form {
  min-width: 10rem;
  max-width: 30rem;
  margin: 0 0;
  border: .1rem solid #333;
  border-radius: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #eee;
  place-self: center;

  h2 {
    margin: 1rem 0;
  }

  label {
    display: flex;
    justify-content: space-between;
  }
}
