form {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form {
  background: none;
  margin: 0;
  border: none;
  padding: 0.5rem;
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 1rem;
}
